:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --base-width: 960px;
  --head-height: 80px;
  --foot-height: 50px;
}

html {
  box-sizing: border-box;
  background-color: var(--el-color-info-light-9);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flow-root;
  min-height: calc(100vh - var(--head-height) - var(--foot-height));
  padding: 30px;
}

.inner-box {
  padding: 20px;
}

a {
  color: var(--el-color-primary);
  text-decoration: underline;
}

a:hover {
  color: var(--el-color-primary-light-5);
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
}

#app {
  width: var(--base-width);
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.count {
  font-family: monospace;
  font-size: 2em;
  color: var(--el-color-success);
  font-weight: bold;
  background-color: var(--el-color-success-light-9);
  padding: 0 8px;
  border-radius: 5px;
}

pre {
  padding: 2em 1em;
  font-size: 14px;
  background-color: var(--el-color-info-light-9);
}

.latin-name {
  font-style: italic;
}

.index-no {
  font-family: monospace;
  color: var(--el-color-info);
}

/* loading style */

@keyframes round {
  to {
    transform: rotate(1turn);
  }
}

.spin {
  animation: round infinite 1s linear;
  margin-right: 0.5em;
}
